html, body, div, h1 {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: red;
}

h1 {
  color: navy;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
}

#header {
  background-color: yellow;
}

#menu {
  font-size: 20px;
  width: 18%;
  margin-left: 10px;
  background-color: red;
  position: relative;
  float: left;

}

#content {
  height: 100%;
  width: 81%;
  position: relative;
  background-color: green;
  float: right;
}
