html, body, div, h1 {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: maroon
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
}

#header {
  background-color: #990033;
  height: 70px;

}

#nav {
  border: 2px solid lightblue;
  width: 200px;
  font-family:sans-serif;
  color: white;
  background-color: #990033;
  padding-top: 10px;
  text-align: center;
}

#menu {
  color: white;
  width: 20%;
  height: 100%;
  background-color: maroon;
  position: fixed;
  padding-top: 150px;
  padding-left: 10px;
}

#content {
  height: 100%;
  width: 80%;
  position: relative;
  background-color: lightblue;
  float: right;
  padding: 10px;
}
